html {
  text-align: center;
}

.table-board {
  border-collapse: collapse;
  margin: auto;
}


td, tr {
  font-size: 55px;
  border: 1px solid grey;
  width: 100px;
  height: 100px;
}

.menu {
  margin: auto;
  display: block;
}
